APScheduler==3.6.3
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Flask==1.1.2
Flask-Login==0.5.0
Flask-WTF==0.14.3
greenlet==1.0.0
idna==2.10
importlib-metadata==3.10.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pygame==2.0.0
pygame-gui==0.5.7
pygamegui==0.1.2
PyQt5==5.15.1
PyQt5-sip==12.8.1
python-dotenv==0.14.0
python-telegram-bot==13.4.1
pytz==2021.1
pyuic5-tool==0.0.1
requests==2.25.1
schedule==0.6.0
secure-smtplib==0.1.1
six==1.15.0
soupsieve==2.2.1
SQLAlchemy==1.4.5
tornado==6.1
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.26.2
vk==2.0.2
vk-api==11.9.1
Werkzeug==1.0.1
wikipedia==1.4.0
WTForms==2.3.3
zipp==3.4.1